# Ignore Mac system
.DS_store/
.DS_Store/

.Rhistory/

.DS_store
.DS_Store

nicksandbox/

# Ignore very large files
Module-3-Nick/Homework/data/US_Accidents_Dec21_updated.csv

# ignore caches and knitr files

*_cache/
*_files/
