# Ignore Mac system
*/.DS_Store
*/*/.DS_Store
.DS_Store
.Rhistory/

# Ignore very large files

# ignore caches (but not knitr files)
*_cache/

## local testing files
local/
nicksandbox/
.Rproj.user

bdsR1.Rproj

**/.Rhistory