@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* Variables */
:root {
  --main-color: #0F4C81; /* Primary color for consistency */
  --accent-color: #93B0AC; /* Secondary color for exercises and other accents */
  --box-bg-color: #a3c586; /* Box background color */
  --box-border-color: #CCCCCC; /* Box border color */
  --font-family: 'Source Sans Pro', sans-serif; /* Consistent font family */
  --box-border-radius: 4px; /* Box border radius for consistency */
  --info-color: #d9edf7; /* Information color */
  --success-color: #dff0d8; /* Success color */
  --warning-color: #fcf8e3; /* Warning color */
  --danger-color: #f2dede; /* Danger color */
  --highlight-color: #5bc0de; /* Highlight color, for rtip and imp borders */
  --solution-border-color: #5cb85c; /* Solution body border color */
}

/* Global Styles */
body {
    counter-reset: exerciseCounter;
    font-family: var(--font-family);
  }

  /* p, li, .navbar-default .navbar-nav>li>a, .list-group-item, ol>li:before, .box p, ol>li { */
  p, li, .navbar-default .navbar-nav>li>a, .list-group-item, .box p, ol>li {
    font-size: 18px; /* Specific text size adjustments */
  }
  
/* Ensure headings maintain their distinct sizes, potentially for emphasis */
h1, h2, h3, h4, h5, h6, ol>li:before {
    font-size: 32px; /* or specific sizes like 2em for h1, 1.5em for h2, etc. */
    font-weight: bold; /* Makes headers bold */
  }

/* Exercise counter */
ol {
  padding-left: 0;
}

ol>li {
    position: relative;
    list-style: none;
    width: 90%;
    padding: 10px 0 10px 180px;
    color: var(--main-color); /* Ensure text color consistency */
  }
  
  ol>li:before {
    content: "Exercise " counter(exerciseCounter) ".";
    counter-increment: exerciseCounter; /* Use the global counter */
    position: absolute;
    left: 0;
    color: var(--accent-color);
    font-weight: bold;
  }

/* Nested lists */
/* ol ol {
  counter-reset: subitem;
} */

.box {
  background-color: var(--box-bg-color);
  border-color: var(--box-border-color);
  color: white;
  border-style: solid;  
  border-width: 1px;
  border-radius: var(--box-border-radius);
  overflow-x: auto;
  margin: 1em 0;
  width: 55%;
}

.box p {
  width: 90%;
  padding-left: 1em;
}

/* Navbar styles */
.navbar-default, .navbar-default .navbar-collapse, .navbar-toggle, .navbar-default .navbar-nav .dropdown-toggle,
.navbar-default .active a, .navbar-default a:hover, .navbar-default .active a:focus, .navbar-default .navbar-nav a:hover, .navbar-default .navbar-nav a:focus,
.navbar-default .navbar-nav .dropdown-menu, .navbar-default .navbar-nav .dropdown-menu a,
.navbar-default .navbar-nav .dropdown-menu a:hover, .navbar-default .navbar-nav .dropdown-menu a:focus, .navbar-default .navbar-nav .dropdown-menu .active a {
  background-color: var(--main-color);
  color: white;
  border: none;
}

/* Box styles */
div.lo, div.blue, div.red, div.green, div.yellow, div.frame, div.statbox, .rtip, .imp {
    border-radius: var(--box-border-radius);
    padding: 20px;
    margin: 20px 0;
}

.blue { background-color: var(--info-color); }
.green { background-color: var(--success-color); }
.yellow { background-color: var(--warning-color); }
.red { background-color: var(--danger-color); }
.frame, .lo { border: 1px solid; }
.statbox { background-color: var(--warning-color); }
.rtip { border-left: 5px solid var(--highlight-color); }
.imp { border-left: 5px solid var(--danger-color); }

/* Question and solution styles */
.question-begin, .solution-begin, .solution-body, .optional-begin, .optional-body {
    border-radius: var(--box-border-radius);
    padding: 10px 20px;
    margin-top: 20px;
    font-weight: bold;
}

.question-body, .solution-body, .optional-body {
    background: #eef4f8;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid var(--highlight-color);
}

.solution-body { border-left: 5px solid var(--solution-border-color); }

/* Header adjustments */
h1, h2, h3, h4, h5, h6 {
  padding-top: 2em !important;
  margin-top: -1em !important;
}
