@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* NAVBAR */

.navbar-default, 
.navbar-default .navbar-collapse, 
.navbar-toggle,
.navbar-default .navbar-nav .dropdown-toggle {
    background-color: #0F4C81 !important;
    border: none;
}

.navbar-default .active a,
.navbar-default a:hover, 
.navbar-default .active a:focus,
.navbar-default .navbar-nav a:hover,
.navbar-default .navbar-nav a:focus {
    background-color: #0F4C81 !important;
    color: white !important;
}

.navbar-default .navbar-nav .dropdown-menu {
    background-color: white !important;
}

.navbar-default .navbar-nav .dropdown-menu a {
    background-color: white !important;
    color: black !important;
}

.navbar-default .navbar-nav .dropdown-menu a:hover,
.navbar-default .navbar-nav .dropdown-menu a:focus {
    background-color: white !important;
    color: #0F4C81 !important;
}

.navbar-default .navbar-nav .dropdown-menu .active a {
    color: #0F4C81 !important;
}


/* TOC */

.list-group-item {
  color: black !important;
}

.list-group-item:hover {
    background-color: white !important;
    color: #0F4C81 !important;
}

.list-group-item.active {
    background-color: #0F4C81 !important;
    color: white !important;
}

.list-group-item.active:hover {
    color: white !important;
}



/* Boxes */

div.lo, div.blue, div.red, div.green, div.yellow, div.frame, div.statbox{ 
    border-radius: 5px; 
    padding: 20px 20px 10px 20px; 
    margin-top: 20px; 
    margin-bottom: 20px; 
}
.blue { 
    background-color:#d9edf7 !important; 
}
.green { 
    background-color:#dff0d8 !important; 
}
.yellow { 
    background-color:#fcf8e3 !important; 
}
.red { 
    background-color:#F3E3E5 !important; 
}
.frame {
    border: 1px solid #333333 !important; 
}



div.int {
    margin-left: 3em;
    margin-right: 3em;
    padding-left: 15px;
    padding-right: 15px;
    border-left: 8px solid #73a3c3;
    border-right: 8px solid #73a3c3;
}
.lo {
  border: 3px solid #0F4C81 !important; 
}
.statbox{
  background-color:#fffcf2 !important; 
}
.rtip {
  border-left: 5px solid #a64bb0;
  padding: 20px 20px 10px 20px; 
  margin-top: 20px; 
  margin-bottom: 20px; 
}
.imp{
  border-left: 5px solid #FF3131;
  padding: 20px 20px 10px 20px; 
  margin-top: 20px; 
  margin-bottom: 20px; 
}




/* Questions and solutions */

.question-begin {
    padding: 10px 20px 10px 20px; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 20px;
    font-weight: 700; 
    background: #73a3c3;
    border-bottom: 1px solid #73a3c3;
    border-left: 1px solid #73a3c3;
    border-right: 1px solid #73a3c3;
}

.solution-begin {
    color: #0F4C81;
    position: relative;
    padding: 10px 20px 10px 20px; 
    margin-top: 20px;
    font-weight: 900; 
}

.question-body {
    padding: 20px 20px 10px 20px; 
    margin-bottom: 20px;
    background: #eef4f8;
    border-bottom: 1px solid #73a3c3;
    border-left: 1px solid #73a3c3;
    border-right: 1px solid #73a3c3;
}

.solution-body {
  padding: 20px 20px 10px 20px; 
  margin-bottom: 20px;
  border-left: 5px solid #0F4C81;
}


.solution-icon {
    font-size: 1.2em;
    color: #0F4C81;
    float: left;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translate(0,-50%);
}

/* Optional box */

.optional-begin {
    position: relative;
    padding: 10px 20px 10px 20px; 
    margin-top: 20px;
    font-weight: 900;
}

.optional-body {
    padding: 20px 20px 10px 20px; 
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 20px;
    border-left: 5px solid #73a3c3;
}

.optional-icon {
    font-size: 1.2em;
    color: #73a3c3;
    float: left;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translate(0,-50%);
}



/* HEADERS */

h1 {
  padding-top: 2em !important;
  margin-top: -1em !important;
}

h2, h3, h4, h5, h6 {
  padding-top: 2em !important;
  margin-top: -1em !important;
}
